<p style="text-align: center; font-size: 15px;"><img title="TinyMCE Logo" src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" /></p>
<h1 style="text-align: center;">Sistema de Verificacion Pico y Placa (Quito - Pichincha - Ecuador)</h1>
<h1 style="text-align: center;">Editando una Placa</h1>
<%= form_for :pplaca, url: pplaca_path(@pplaca),method: :patch do |f| %>
<p>
	<%=  f.label :placa, "Placa" %>
	<%=  f.text_field :placa %>
</p>
<p>
	<%=  f.label :fecha, "Fecha" %>
	<%=  f.text_field :fecha %>
</p>
<p>
	<%=  f.label :hora, "Hora" %>
	<%=  f.time_field :hora %>
</p>
<p>
	<%= f.submit 'Guardar' %>
</p>
<% end %>
<%= link_to 'Volver',pplaca_path%>